.blobs-container {
    position: relative;
    width: 100%;
    height: 200px;
}

.set {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.blob {
    position: absolute;
    width: 5%;
    height: 5vw;
    border-radius: 50%;
    background-color: #ff0000;
    animation: flow-range 5s infinite linear;
}

@keyframes flow-range {
    0% {
        left: -5%;
    }

    25% {
        left: 25%;
    }

    50% {
        left: 50%;
    }

    75% {
        left: 75%;
    }

    100% {
        left: 105%;
    }
}