.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    height: $height-button-1;
    font-family: $ff-text;
    font-size: $fs-nav-button;
    border-radius: 2.5rem;
    border: 2px solid $clr-text;
    background-color: transparent;
    word-spacing: 5px;
    letter-spacing: 1px;

}