// ----- font family -----
$ff-title: "Gambarino", serif;
$ff-text: "Cabinet Grotesk", sans-serif;

// ----- font size -----
$fs-logo: 1.5rem;
$fs-title: 1.875rem;
$fs-social: 1.4rem;


// ----- color -----
$clr-text: #1B1212;
$color-accent-1: #F7C8C7;
$color-accent-2: #639BB2;

// ----- margin -----
$margin-1: 1rem;
$margin-2: 1.25rem;
$margin-3: 2rem; //32px

// ----- padding -----
$padding-1: 1.25rem; //20px


// ----- breakpoints -----
$XXS: 390px;
$XS: 576px;
$S: 768px;
$M: 992px;
$L: 1200px;
$XL: 1440px;

//0--max-390-max-576---768

@mixin XXS {
    @media (max-width: $XXS) {
        @content;
    }
}

@mixin XS {
    @media (min-width: $XXS) and (max-width: $XS) {
        @content;
    }
}

@mixin S {
    @media (min-width: $XS) and (max-width: $S) {
        @content;
    }
}

@mixin M {
    @media (min-width: $S) and (max-width: $M) {
        @content;
    }
}

@mixin L {
    @media (min-width: $M) and (max-width: $L) {
        @content;
    }
}

@mixin XL {
    @media (min-width: $L) and (max-width: $XL) {
        @content;
    }
}

//   // usage
//     @include for-desktop-up {
//       padding: 20px;
//     }
//   }


// ----- button -----
$height-button-1: 3.375rem;

// ----- container -----
.container {
    max-width: 100%;
    margin: 0 $margin-2 0 $margin-2;

}