// ----- font family -----
$ff-title: "Gambarino", serif;
$ff-text: "Cabinet Grotesk", sans-serif;

// ----- font size -----
$fs-logo: 1.5rem;
$fs-title: 1.875rem;
$fs-social: 1.4rem;


// ----- color -----
$clr-text: #1B1212;
$color-accent-1: #F7C8C7;
$color-accent-2: #639BB2;

// ----- margin -----
$margin-1: 1rem;

// ----- padding -----
$padding-1: 1.25rem; //20px

// ----- breakpoints -----
$XXS: 390px;
$XS: 576px;
$S: 768px;
$M: 992px;
$L: 1200px;
$XL: 1440px;

// ----- breakpoints -----
$height-button-1: 3.375rem;

// ----- container -----
.container {
    max-width: 100%;
    margin: 0 $padding-1 0 $padding-1;

}