.menu {
    font-family: $ff-text;
    font-size: $fs-logo;
    z-index: 9999;


    .ham-menu {
        cursor: pointer;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        position: absolute;
        left: 0;
        top: 0;
        background-image: linear-gradient(to bottom, #E4CCE8 2%, #FADFDE 20%, white, #B2D3F6 95%);

        padding: 30% 33%;
        align-items: center;
        justify-content: center;

        border-radius: 0 0 1rem 1rem;

        .ham-title {
            font-family: $ff-title;
        }

        .about_social {
            display: flex;
            gap: 2rem;
        }

        .button-ham {
            width: 15rem;
            padding: 2rem 0;
            margin-top: 3rem;
        }

        .ham-menu-close {
            position: absolute;
            right: 20%;
            top: 8%
        }
    }




}