body {
    background-image: url(/asset/img/gradient.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center top;
}

.navbar {
    font-family: $ff-title;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $clr-text;
    // max-width: 100%;

    .logo {
        font-size: $fs-logo;
    }


    .nav_right {
        display: none;
    }



    @include S {
        .nav_right {
            display: inline;
        }

        .menu {
            display: none;
        }
    }

}