body {
    background-image: url(../../public/asset/img/gradient.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center top;
}

.navbar {

    font-family: $ff-title;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $clr-text;

    @extend .container;

    // // @media (min-width: $XXS) and (max-width: $XS) {
    // //     .container {
    // //         margin: 0 $margin-3 0 $margin-3;
    // //     }
    // // }

    // @include XS {
    //     .container {
    //         margin: 0 $margin-3 0 $margin-3;
    //     }
    // }

    .nav_right {
        padding-top: $padding-1;

        .nav_right-xxs {
            padding-bottom: $padding-1;

            .ham-menu {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-image: linear-gradient(to bottom, #E4CCE8 2%, #FADFDE 20%, white, #B2D3F6 95%);
                height: 90%;
                border-radius: 0 0 1rem 1rem;
                display: flex;
                flex-direction: column;
                gap: 3rem;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

                .ham-menu-close {
                    position: absolute;
                    top: 10%;
                    right: 12%;

                }

                .button {
                    width: 80%;
                }

            }
        }
    }

    .logo {
        font-size: $fs-logo;
    }
}