.projects-content {
    overflow: hidden;

    .projects-title {
        display: none;
    }

    @include S {
        margin-top: 17%;

        .projects-title {
            display: block;
            font-size: $fs-social;
        }

    }

    @include M {

        .projects-title {
            font-size: calc($fs-logo + .2rem);
        }
    }

    @include L {
        .projects-title {
            font-size: calc($fs-logo + .3rem);
        }
    }

}